<style>
ul.notice_list {
	line-height: 200%;
}
a.notice_link {
    color: blue;
}
</style>
<div class="container-wrap">
	<!-- sub title -->
	<h3 class="sub-title">ORG를 신청하세요.</h3>
	<!--// sub title-->
	<!-- accout section-->
	<section class="full-wrap">
		<ul class="notice_list">
			<li>현재 권한이 할당된 ORG가 없습니다.</li>
			<li>새로운 ORG 생성 관련 문의는 <a class=notice_link href="">[서비스 데스크]</a>로 문의해주세요.</li>
			<li>기존 ORG 초대 관련 문의는 해당 <a class=notice_link href="">[ORG Manager]</a>에게 요청해주세요.</li>
		</ul>
	</section>
	<p class="message"></p>
</div>